.rectangleFrameIcon {
  height: 724px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -54px;
  right: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.joinTheMarkly {
  margin: 0;
  align-self: stretch;
  height: 165px;
  position: relative;
  font-size: inherit;
  line-height: 125%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.beTheFirst {
  align-self: stretch;
  height: 72px;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-family: var(--body-regular);
  display: inline-block;
}
.autoLayoutVertical1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.signUp {
  border: none;
  outline: none;
  font-family: var(--body-regular);
  font-size: var(--body-regular1-size);
  background-color: transparent;
  height: 21px;
  width: 94px;
  position: relative;
  line-height: 150%;
  color: var(--white-1);
  text-align: left;
  display: inline-block;
}
.typesecondColorblackSize {
  flex: 1;
  background-color: var(--color-darkslategray-300);
  backdrop-filter: blur(52px);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  min-width: 94px;
  min-height: 50px;
  max-width: 100%;
}
.signIn {
  height: 24px;
  width: 55px;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--body-regular);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.typeprimaryColorwhiteSiz {
  cursor: pointer;
  border: none;
  padding: var(--padding-xs) var(--padding-13xl);
  background-color: var(--white-7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.typeprimaryColorwhiteSiz:hover {
  background-color: var(--color-gainsboro-100);
}
.autoLayoutHorizontal {
  width: 467px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  max-width: 100%;
}
.autoLayoutVertical {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
  max-width: 100%;
  z-index: 1;
}
.property1desktop {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-145xl) var(--padding-157xl) var(--padding-144xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.blogTextFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-114xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--headings-heading-1-size);
  color: var(--white-7);
  font-family: var(--headings-heading-1);
}

@media screen and (max-width: 1050px) {
  .joinTheMarkly {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }

  .property1desktop {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .blogTextFrame {
    padding-bottom: var(--padding-37xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .joinTheMarkly {
    font-size: var(--font-size-16xl);
    line-height: 44px;
  }

  .autoLayoutVertical {
    gap: var(--gap-base);
  }

  .property1desktop {
    padding-top: var(--padding-88xl);
    padding-bottom: var(--padding-87xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .property1desktop {
    padding-left: var(--padding-69xl);
    padding-right: var(--padding-69xl);
    box-sizing: border-box;
  }

  .blogTextFrame {
    padding-bottom: var(--padding-67xl);
    box-sizing: border-box;
  }
}
