.label {
  width: 41px;
  height: 16px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  display: inline-block;
}
.input2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: -2px;
  bottom: -2px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.placeholder {
  border: none;
  outline: none;
  font-family: var(--font-roboto);
  font-size: var(--body-regular-size);
  background-color: transparent;
  height: 16px;
  width: 150px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: var(--color-lightslategray-100);
  text-align: left;
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index: 1;
}
.input1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  position: relative;
}
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--primary-text);
  font-family: var(--font-roboto);
}
